.container {
  max-width: 1200px;
  padding: 30px 50px;
  margin: 0 auto;
}

.students__form {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid #007bff;
  background-color: #f8f9fa;
}

.students__title {
  color: #333;
}

.form__item {
  position: relative;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid darkgrey;
  color: #333;
}

.input-fail {
  border: 3px solid red;
}

.submit {
  margin-top: 20px;
  height: 50px;
  border: 3px solid;
  border-radius: 10px;
  background-color: #FFF;
}

.fail-message {
  position: absolute;
  bottom: 43px;
  left: 200px;
  color: red;

}

.students__search {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid #007bff;
  background-color: #f8f9fa;
}

.filter {
  margin-top: 35px;
  margin-bottom: 30px;
}

.filter__item {
  position: relative;
}

.filter__search {
  padding-left: 10px;
  border: 3px solid darkgrey;
  color: #333;
  width: 100%;
}

.filter__title {
  position: absolute;
  top: -25px;
  left: 15px;
}

.row-style {
  outline: 1px solid #007bff;
  background-color: #FFF;
}

.head-style {
  display: flex;
  align-items: center;
  outline: 1px solid #007bff;
  font-weight: 600;
  color: #333;
}

.cbx-container {
  position: relative;
  margin: 0;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.cbx {
  position: relative;
  z-index: 1;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  content: url(arrow.svg);
}

.cbx:checked ~ .checkmark {
  content: url(arrow-up.svg);
}

.checkmark:after {
  position: absolute;
  display: none;
}

.cbx-container .checkmark:after {
  left: 9px;
  top: 5px;
  border: solid white;
}

.col-style {
  outline: 1px solid #007bff;
  font-weight: 300;
  color: #333;
}
